<footer class="text-center mt-10">
  <div class="text-center p-4 bg-gray-800">
    developed by:
    <a
      class="font-medium text-blue-400 hover:underline"
      target="_blank"
      href="https://karim.run"
    >
      karim
    </a>
  </div>
</footer>
