<header class="bg-gray-800 py-5">
  <nav>
    <ul class="mr-auto ml-auto self-center flex justify-center w-full">
      <li class="px-2">
        <a class="hover:underline" href="/">Home</a>
      </li>
      <li class="px-2">
        <a class="hover:underline" href="/screenshots">Screenshots</a>
      </li>

      <li class="px-2">
        <a href="https://github.com/imkarimkarim/goje/releases" target="_blank">
          Download</a
        >
      </li>
      <li class="px-2">
        <a class="hover:underline" target="_blank" href="https://karim.run"
          >About</a
        >
      </li>
    </ul>
  </nav>
</header>
